{#
/**
* @file
* Bootstrap Barrio's theme implementation to display a node.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
Only "getter" methods (method names starting with "get", "has", or "is")
and a few common methods such as "id" and "label" are available. Calling
other methods (such as node.delete) will result in an exception.
* - label: The title of the node.
* - content: All node items. Use {{ content }} to print them all,
*   or print a subset such as {{ content.field_example }}. Use
*   {{ content|without('field_example') }} to temporarily suppress the printing
*   of a given child element.
* - author_picture: The node author user entity, rendered using the "compact"
*   view mode.
* - metadata: Metadata for this node.
* - date: Themed creation date field.
* - author_name: Themed author name field.
* - url: Direct URL of the current node.
* - display_submitted: Whether submission information should be displayed.
* - attributes: HTML attributes for the containing element.
*   The attributes.class element may contain one or more of the following
*   classes:
*   - node: The current template type (also known as a "theming hook").
*   - node--type-[type]: The current node type. For example, if the node is an
*     "Article" it would result in "node--type-article". Note that the machine
*     name will often be in a short form of the human readable label.
*   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
*     teaser would result in: "node--view-mode-teaser", and
*     full: "node--view-mode-full".
*   The following are controlled through the node publishing options.
*   - node--promoted: Appears on nodes promoted to the front page.
*   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
*     teaser listings.
*   - node--unpublished: Appears on unpublished nodes visible only to site
*     admins.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - content_attributes: Same as attributes, except applied to the main
*   content tag that appears in the template.
* - author_attributes: Same as attributes, except applied to the author of
*   the node tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
* - page: Flag for the full page state. Will be true if view_mode is 'full'.
* - readmore: Flag for more state. Will be true if the teaser content of the
*   node cannot hold the main body content.
* - logged_in: Flag for authenticated user status. Will be true when the
*   current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
*   is an administrator.
*
* @see template_preprocess_node()
*/
#}
<div class="solution-detail-page">
  <div class="solution-top-sec">
    {% if (content.field_logicel_top_section[0]['#paragraph'].field_title.value is not empty) or (content.field_logicel_top_section[0]['#paragraph'].field_icon.value) or (content.field_logicel_top_section[0]['#paragraph'].field_image.value) or (content.field_logicel_top_section[0]['#paragraph'].field_description.value) %}
    <div class="container-fluid meterial-top-sec-inner">
      <div class="row solution-top-sec-wrap">
        <div class="col-md-5 solution-top-sec-img">
          <div class="solution-top-sec-img-inner">
            {% if (content.field_logicel_top_section[0]['#paragraph'].field_image.value is not empty) %}
              <img src="{{ file_url(content.field_logicel_top_section[0]['#paragraph'].field_image.entity.field_media_image.entity.fileuri | image_style('solution_banner_image'))}}" class="img-fluid"> 
            {% endif %}
           </div>
        </div>
        <div class="col-md-7 solution-top-sec-text">
          {% if (content.field_logicel_top_section[0]['#paragraph'].field_title.value is not empty) %}
            <h2>{{ content.field_logicel_top_section[0]['#paragraph'].field_title.value }}</h2>
          {% endif %}            
          {% if (content.field_logicel_top_section[0]['#paragraph'].field_description.value is not empty) %}
            <div class="solution-desc">{{ content.field_logicel_top_section[0]['#paragraph'].field_description.value|raw }}</div>
          {% endif %}
          {% if (content.field_logicel_top_section[0]['#paragraph'].field_icon.value is not empty) %}
            <div class="solution-logo">
              <img src="{{ file_url(content.field_logicel_top_section[0]['#paragraph'].field_icon.entity.field_media_image.entity.fileuri | image_style('solution_logo_ima'))}}" class="img-fluid">
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>  
  {% if (content.field_solution_section[0]['#paragraph'].field_description.value is not empty) or (content.field_solution_section[0]['#paragraph'].field_title.value) or (content.field_solution_section[0]['#paragraph'].field_icon.value) %}
    <div class="container solution-list-section">
      {% for key, item in content.field_solution_section if key|first != '#' %}
        <div class="sol-list-wrap row">
          <div class="sol-list-img col-md-6">
            <img src="{{ file_url(item['#paragraph'].field_icon.entity.field_media_image.entity.fileuri| image_style('solution_list_image'))}}" class="img-fluid"> 
          </div>
          <div class="sol-list-content col-md-6">
            {% if (item['#paragraph'].field_title[0].value is not empty) %}
              <h2>{{ item['#paragraph'].field_title[0].value }}</h2>
            {% endif %}
            {% if (item['#paragraph'].field_description[0].value is not empty) %}
              <div class="sol-list-desc">{{ item['#paragraph'].field_description[0].value|raw }}</div>
            {% endif %}  
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if (content.field_image_plus_text_section[0]['#paragraph'].field_description.value is not empty) or (content.field_image_plus_text_section[0]['#paragraph'].field_link.value) or (content.field_image_plus_text_section[0]['#paragraph'].field_image.value) or (content.field_image_plus_text_section[0]['#paragraph'].field_title.value) %}
  <div class="container-fluid mps-wrap">
   <div class="row mps-inner">
    {% if (content.field_image_plus_text_section[0]['#paragraph'].field_image.value is not empty) %}
      <div class="col-md-6 mps-left">
        <img src="{{ file_url(content.field_image_plus_text_section[0]['#paragraph'].field_image.entity.field_media_image.entity.fileuri)}}" class="img-fluid"> 
      </div>
    {% endif %}
    <div class="col-md-6 mps-right">
      {% if (content.field_image_plus_text_section[0]['#paragraph'].field_title.value is not empty) %}
        <div class="white-subtitle colorw">{{ content.field_image_plus_text_section[0]['#paragraph'].field_title.value }}</div>
      {% endif %}
      {% if (content.field_image_plus_text_section[0]['#paragraph'].field_description.value is not empty) %}
        <h1 class="mps-desc colorw">{{ content.field_image_plus_text_section[0]['#paragraph'].field_description.value|raw }}</h1>
      {% endif %}
     {% if (content.field_image_plus_text_section[0]['#paragraph'].field_link.value is not empty) %}
      <div class="mps-link-wrap">
        <a class="yellow-btn green-shadow" href="{{ content.field_image_plus_text_section[0]['#paragraph'].field_link.0.url }}">{{ content.field_image_plus_text_section[0]['#paragraph'].field_link.0.title }}</a>
      </div>
     {% endif %}
    </div>
    </div> 
  </div>
  {% endif %}
  {% if (node.field_section_title.value is not empty) or (content.field_service_section_details[0]['#paragraph'].field_title.value is not empty) or (content.field_service_section_details[0]['#paragraph'].field_description.value is not empty) %}
  <div class="container services-lies-wrap">
    <div class="row">
      {% if (node.field_section_title.value is not empty) %}
      <div class="col-lg-4">
        <h1>{{ node.field_section_title.value }}</h1>
      </div>
      {% endif %}
      {% if (content.field_service_section_details[0]['#paragraph'].field_title.value is not empty) or (content.field_service_section_details[0]['#paragraph'].field_description.value is not empty) %}
      <div class="col-lg-8">
        <div class="row services-lies-right">
          {% for key, item in content.field_service_section_details if key|first != '#' %}
            <div class="col-md-6 services-lies-item">
              {% if (item['#paragraph'].field_title[0].value is not empty) %}
                <h6 class="propos-para-title">{{ item['#paragraph'].field_title[0].value }}</h6>
              {% endif %}
              {% if (item['#paragraph'].field_description[0].value is not empty) %}
                <div class="propos-para-text">{{ item['#paragraph'].field_description[0].value|raw }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    </div>
    {# {{ drupal_entity('block', 'serviceslies', check_access=false) }} #}
  </div>
  {% endif %}
  <div class="offres-emploi-form-block-wrap">
    <div class="offres-emploi-form-block container">
      <div class="offres-emploi-form-inner row">
        <div class="col-lg-4 offres-emploi-form-img">
          {{ drupal_entity('block', 'contactformblock', check_access=false) }}
        </div>
        <div class="col-lg-8 offres-emploi-form">
          {{ drupal_entity('block', 'webform_2', check_access=false) }}
        </div>      
      </div>
    </div>
  </div>
</div>